/* Para contenido de la información */
.contenido {
font-size:11px;
font-family:Verdana,Arial,Helvetica,sans-serif;
line-height:150%;
}
.contenido a:link {
color:#0000FF;
text-decoration:none;
}
.contenido a:visited {
color:#0000FF;
text-decoration:none;
}
.contenido a:active {
color:#CC0000;
text-decoration:none;
}
.contenido a:hover {
color:#CC0000;
text-decoration:underline;
}
/* Para referencia a Directores */
.referencia {
color:#FFFFFF;
font-size:11px;
font-family:Arial,Helvetica,sans-serif;
font-weight:bold;
padding-left:10px;
}
.referencia a:link {
color:#FFFFFF;
text-decoration:none;
}
.referencia a:visited {
color:#FFFFFF;
text-decoration:none;
}
.referencia a:active {
color:#FFFFFF;
text-decoration:none;
}
.referencia a:hover {
color:#000000;
text-decoration:none;
}
/* Para el registro de copia */
.copyright {
color:#FFFFFF;
font-size:9px;
font-family:Verdana,Arial,Helvetica,sans-serif;
padding-left:10px;
}